<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Spec D Tuning</title>
		<!-- <link rel = "stylesheet" href = "css/master.css"> -->
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
	</head>

  <script type="text/javascript">
  function printNumber(name, number) {
    var newWin = window.open('printNumber.html', 'newwindow', 'width=300','height=250');
    var content = "<h2>"+name+"</h2><h2>"+number+"</h2> ";
    newWin.document.write(content);
  }

  </script>

	<body>
		<div class = "container">
      <div class="header">
        <nav>
            <ul class="nav nav-pills float-right">
                <li role="nav-item">
                  <a class="nav-link active" href="/">Pick Number</a>
                </li>
                <li role="nav-item">
                  <a class="nav-link" href="viewTable">View Table</a>
                </li>
                <li role="nav-item">
                  <a class="nav-link" href="setCapacity">Set Capacity</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Spec D Tuning Raffle!</h3>
      </div>
      <p>
        <ul class="nav nav-pills float-right">
          <li role="nav-item">
            <a class = "nav-link" href="{{ url_for('printNumber', username=name, num=number) }}" target="_blank">print</a>
          </li>
        </ul>
      </p>
			<div class = "jumbotron">
				<h1 id = "title">Take a Number</h1>
        <div id="content">
          <p>{{ msg }}</p>
          {% if number is not none %}
          <h2 id = "text">Hi {{ name }}!</h2>
          <h2 id = "num">Your number is {{ number }}</h2>
          {% else %}
          <h2 id = "text"></h2>
          <h2 id = "num"></h2>
          {% endif %}
        </div>
				<p class = "lead"></p>
				<p>
          <a href="/" class = "btn btn-lg btn-success" role = "button">Done</a>
				</p>
		  </div>
      <footer class="footer">
          <p>&copy; Company 2017</p>
      </footer>
		</div>
	</body>
</html>
