<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spec D Tuning</title>
    <!-- <link href = "./css/master.css" rel = "stylesheet" type="text/css"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/docs/4.1/examples/jumbotron/#" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
  </head>

  <body>
    <div class = "container">
      <div class="header">
          <nav>
              <ul class="nav nav-pills float-right">
                  <li role="nav-item">
                    <a class="nav-link" href="/">Pick Number</a>
                  </li>
                  <li role="nav-item">
                    <a class="nav-link active" href="viewTable">View Table</a>
                  </li>
                  <li role="nav-item">
                    <a class="nav-link" href="setCapacity">Set Capacity</a>
                  </li>
              </ul>
          </nav>
          <h3 class="text-muted">Spec D Tuning Raffle!</h3>
      </div>
      <div class = "jumbotron">
        <table style="display: inline-block;" border = 2>
          <thead>
            <td>Name</td>
            <td>Number</td>
          </thead>
          {% if rows %}
            {% for row in rows%}
            <tr>
              <td>{{row["name"]}}</td>
              <td>{{row["num"]}}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr></tr>
          {% endif %}
        </table>
        <table style="display: inline-block; vertical-align: top;" border = 2>
          <thead>
            <td>No Number Assigned to: {{numberPeople}} people</td>
          </thead>
          {% for name in availableNames %}
          <tr>
            <td>{{name}}</td>
          </tr>
          {% endfor %}
        </table>
        <p>
          <a href="/" class = "btn btn-lg btn-success" role = "button">Done</a>
        </p>
      </div>
      <p>
        <ul class="nav nav-pills float-right">
          <li role="nav-item">
            <a class = "nav-link" href="deleteTable">
              <span style="background-color:darkgrey; border-radius:100px; border: 5px #333 solid;"></span>
            </a>
          </li>
        </ul>
      </p>
      <footer class="footer">
          <p>&copy; Company 2017</p>
      </footer>
    </div>
  </body>
</html>

<style>
  table, th, td {
    padding: 10px;
    margin-bottom: 100px;
  }
</style>

<script type="text/javascript">
var db = openDatabase("data", 1, "users", 200000);  // Open SQLite Database
console.log(db)
var dropStatement= "DROP TABLE users"
function clearTable() {
  console.log("clearing!!")
  db.transaction(
    function(transaction) {
      transaction.executeSql(dropStatement,[],
        function(tx,results){console.log("Successfully Dropped")},
        function(tx,error){console.log("Could not delete")}
      );
    }
  );

}


</script>
